nav.mb-3.navbar.navbar.navbar-expand-xl.navbar-light.bg-light {
    background-color: #1C4E59 !important;
}

a{
    font-family: JejuMyeongjo !important;
    color: #C1D2D9 !important;
}

.nome{
    color: #1C4E59 !important;
}